<div>
    <h2>本当に退会しますか？</h2>
    <h2>
        退会すると、怪異登録情報や</br>
        これまでの購入履歴が閲覧できなくなります。
        退会する場合は、「退会する」をクリックしてください。
    </h2>
    <dev>
        <a>退会しない</a>
        <a>退会する</a>
    </dev>
</div>