<h2>注文履歴一覧</h2>
<% @order_details.each do |order_detail| %>
<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>

  <tbody>
    <td><% order_detail.created_at %></td>
    <td><% order_detail.order.customer.name %></td>
    <td><% order_detail.amount %></td>
    <td><% order_detail.is_active %></td>
  </tbody>
</table>
<% end %>
<div class="pagination">
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>Next></p>
　　<p>Last>></p>
</div>