<h2>新規会員登録</h2>
<%= form_with model: @customers, url: customer_registration_path, local:true do |f| %>

 <div><%= f.submit "新規登録" %></div>
</div>
<h2>既に登録済みの方</h2>
<div><%= link_to "こちら" , new_customer_session_path %>からログインしてください。</div>
<% end %>