<dev>
 <table>
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
      <% @items.each do |item| %>
      <td>
        <%= @item.genre.name %>  
      </td>
      <% end %>
  </tbody>
  
 </table>
</dev>
<dev>
    <% @items.each do |item| %>
    <h2>新商品</h2>
    <a>image</a>
    <h3><%= @item.name %></h3>
    <h3><%= @item.price %></h3>
</dev>
    <% end %>
<div class="pagination">
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>Next></p>
　　<p>Last>></p>
</div>